/vendor
/node_modules
/nbproject
*~
Homestead.yaml
Homestead.json
.env
*.orig

composer-temp.phar

/bibles/unbound/*.zip
/bibles/unofficial/*.zip
/bibles/analyzer/*.bib
/bibles/evening/*
/bibles/misc/*.csv
/bibles/misc/*.zip
/bibles/misc/*.gz
/bibles/misc/*.txt
/bibles/rendered/*
/app/Premium

.~lock*