/vendor
/node_modules
/nbproject
*~
Homestead.yaml
Homestead.json
.env
*.orig

pushall
composer-temp.phar

/bibles/unbound/*.zip
/bibles/unofficial/*.zip
/bibles/analyzer/*.bib
/bibles/evening/*
/bibles/mysword/*
/bibles/misc/*
/bibles/rendered/*
/app/Premium

.~lock*