/* Dialogs On Bible Config Page */

.edit_form td.sublabel {
    padding-left: 6px;
    font-size: .8em;
    vertical-align: middle;
}

.edit_form .form_section {
    width: 800px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

.edit_form table {
    width: 100%;
}

input, .pseudo_input {
    border: 1px solid rgb(169, 169, 169);
}

input:disabled, .pseudo_input.disabled {
    background-color: -internal-light-dark-color(rgb(235, 235, 228), rgb(45, 45, 45));
}

.copyright_statement_default {
    width: calc(99% - 20px);
    height: 100%;
/*    margin-top: 75px;*/
    padding: 10px;
    background-color: rgb(235, 235, 228);
    color: rgb(45, 45, 45);
    overflow-y: auto;
    position: relative;
    bottom: 0px;
}

input.wide, select.wide, .unique_text.wide {
    width: 400px;
}

.unique_text {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.unique_text input {
    width: 99%;
}

textarea.copyright_statement {
    height: 100px;
}

.required {
    margin-left: 5px;
    color: red;
    font-weight: bold;
}

span.warning {
    background-color: yellow;
    color: red;
    font-weight: bold;
}

.dialog_form {
    font-size: 0.8rem;
}

.align_top {
    vertical-align: top;
}

.edit_dialog {
    max-height: 800px;
    overflow-y: auto;
}

/*.import_desc_container:hover {
    position: relative;
    height: initial;
}
*/

.import_form {
    /*width: 400px;*/
    overflow-x: hidden;
}

.import_form select, .import_form input {
    width: 300px;
}

.import_desc_container {
    padding: 5px 0;
    height: 30px;
    overflow: auto;
}

.import_config {
    width: 400px;
}

.aicwebtech_autocomplete {
    position: relative;
    width: 400px;
    display: inline-block;
    margin-right: 5px;
    z-index: 1999999;
}

.aicwebtech_autocomplete_input {
    width:  100%;
}

.aicwebtech_autocomplete_options {
    position: absolute;
    width: 100%;
    background-color: #ddd;
    max-height: 200px;
    overflow-y: auto;
}

.aicwebtech_autocomplete_options_option {
    cursor: pointer;
}

.aicwebtech_autocomplete_options_option:hover {
    background-color: blue;
    color: white;
}

.ck .ck-balloon-panel  {
    z-index: 100001;
    background-color: cyan;
}

.ck .ck-balloon-panel .ck-input-text  {
    z-index: 100001;
    background-color: red;
}
