
.default-copyright-statement {
    /* width: calc(99% - 20px); */
    height: 100%;
/*    margin-top: 75px;*/
    padding: 10px;
    background-color: rgb(235, 235, 228);
    color: rgb(45, 45, 45);
    overflow-y: auto;
    position: relative;
    bottom: 0px;
    text-align: justify;
    font-size: smaller;
}
