#enyo_container {
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.buik_actions_container {
    height: 40px;
}

button.bulk {
    margin-left: 10px;
    font-size: 0.8em;
    padding: 5px;
}

td.alert {
    background-color: #f24141;
    color: white;
}

td.off {
    background-color: #ffa8a8;
}

td.on {
    background-color: #76f785;
}

td.research.off {
    background-color: #39e3cf;
}

td.research.on {
    background-color: #e0e84f;
}

td.good {
    background-color: green;
    color: white;
}

.console {
    white-space: pre;
    font-family: monospace;
}

.success {
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center; 
}

.prem label {
    margin-right: 10px;
}

.prem span {
    color: red;
}

.edit_form td.sublabel {
    padding-left: 6px;
    font-size: .8em;
    vertical-align: middle;
}

.edit_form .form_section {
    width: 800px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

.edit_form table {
    width: 100%;
}

.edit_form textarea {
/*    width: 100%;
    height: 400px;*/
}

input, .pseudo_input {
    border: 1px solid rgb(169, 169, 169);
}

input:disabled, .pseudo_input.disabled {
    background-color: -internal-light-dark-color(rgb(235, 235, 228), rgb(45, 45, 45));
}

.copyright_statement_default {
    width: calc(99% - 20px);
    height: 80px;
    margin-top: 75px;
    padding: 10px;
    background-color: rgb(235, 235, 228);
    color: rgb(45, 45, 45);
    overflow-y: auto;
}

input.wide, select.wide, .unique_text.wide {
    width: 400px;
}

.unique_text {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.unique_text input {
    width: 99%;
}

textarea.copyright_statement {
    height: 100px;
}

.required {
    margin-left: 5px;
    color: red;
    font-weight: bold;
}

span.warning {
    background-color: yellow;
    color: red;
    font-weight: bold;
}

.edit_form {
    font-size: 0.8em;
}

.align_top {
    vertical-align: top;
}

.edit_dialog {
    max-height: 800px;
    overflow-y: auto;
}

.import_form {
    width: 600px;
    overflow-x: hidden;
}

.import_form select, .import_form input {
    width: 300px;
}
