#enyo_container {
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.buik_actions_container {
    height: 40px;
}

button.bulk {
    margin-left: 10px;
    font-size: 0.8em;
    padding: 5px;
}

td.alert {
    background-color: #f24141;
    color: white;
}

td.off {
    background-color: #ffa8a8;
}

td.on {
    background-color: #76f785;
}

td.research.off {
    background-color: #39e3cf;
}

td.research.on {
    background-color: #e0e84f;
}

td.good {
    background-color: green;
    color: white;
}

.console {
    white-space: pre;
    font-family: monospace;
}

.success {
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center; 
}

.prem label {
    margin-right: 10px;
}

.prem span {
    color: red;
}

.edit_form span.sublabel {
    margin-left: 10px;
    font-size: .8em;
}

.edit_form table {
    width: 100%;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

.edit_form textarea {
    width: 100%;
    height: 400px;
}

input.wide {
    width: 100%;
}

textarea.copyright_statement {
    height: 100px;
}