tr.download_disabled {
    background-color: #d1d1d1;
    text-decoration: line-through;
}

.format_group_box {
    /*background-color: #5aa700;*/
    background-color: #ddd;
    border-radius: 10px;
    padding: 8px;
    margin-bottom: 20px;
}

.format_group_box h2.name {
    margin-top: 0;
    margin-bottom: 0px;
    /*font-size: 1em;*/
    font-weight: bold;
}

.format_group_box div.desc {
    margin-bottom: 15px;
}

.format_group_box span.red {
    color: red;
}

.format_box {
    background-color: #bbb;
    border-radius: 10px;
    padding: 8px;
    margin-top: 20px;
}

.format_name {
    font-weight: bold;
}

.format_description {
    margin-left: 40px;
}

.pseudo_dialog {    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    z-index: 100000;
    background-color: rgba(0, 0, 0, 0.5); 
    text-align: center;
    display: none;
}

.pseudo_dialog_container {
    margin-left: auto;
    margin-right: auto;
    opacity: 1;
    margin-top: calc(40vh);
    padding: 15px;
    border: 2px solid #666;
    border-radius: 10px;
    background-color: #aaa;
}

.pseudo_dialog_contents {
    overflow-y: auto;
    border-radius: 8px;
    background-color: white;
    padding: 10px;
    border: 1px solid #666;
    font-size: 14px;
}

.pseudo_dialog_contents span.float_left {
    display: inline-block;
    float: left;
    /*font-family: Courier, Monospace;*/
}

.pseudo_dialog_contents span.rendering_name {
    width: 70%;
    overflow-x: hidden;
    text-align: left;
    text-indent: -80px;
    padding-left: 80px;
}

.pseudo_dialog_contents span.float_right {
    display: inline-block;
    float: right;
    /*font-family: Courier, Monospace;*/
}

.pseudo_dialog_buttons {
    margin-top: 10px;
}

.centered_div {
    margin-left: auto;
    margin-right: auto;
}

.pseudo_dialog .loading {
    font-weight: bold;
    font-size: 2em;
}

#bible_download_form {
    
}

#bible_download_form {
    position: relative;
}

#bible_download_form .container {
    width: 45%;
}

#bible_download_form .bible_container {
    float: left;
}

#bible_download_form .format_container {
    float: right;
}

@media only screen and (max-width: 1200px) {
    #bible_download_form .container {
        float: initial;
        width: 98%;
    }
}
